<div class="body-section">
  <div class="box-section">
    <h2 class="title">Members List</h2>
    <div class="row">
      <div class="col-md-2">
        <h5 class="filter-label">Status</h5>
        <mat-select [(ngModel)]="filterDefault">
          <mat-option *ngFor="let key of keys" [value]="key">
            {{statusDict[key]}}
          </mat-option>
        </mat-select>
      </div>
      <div class="col-md-2">
        <h5 class="filter-label">Order By</h5>
        <mat-select>
          <mat-option *ngFor="let val of ['A-Z', 'Z-A']" [value]="val">
            {{val}}
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div class="row mt-3">
      <div *ngFor="let user of activeUsers" class="col-md-6 mt-2">
        <mat-card>
          <div class="matCards">
            <mat-card-title>{{user['firstName']}} {{user['lastName']}}</mat-card-title>
            <mat-card-subtitle>{{statusDict[user.status]}}</mat-card-subtitle>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
